body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: white;
    text-align: center;
    margin: 0;
}

/* Header */
h1 {
    background-color: #e50914;
    padding: 20px;
    margin: 0;
}

/* Search Area */
.search-box {
    margin: 30px;
}

select {
    padding: 10px;
    margin: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b20710;
}

/* Movies Layout */
.movies-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px;
}

.movie-card {
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
    width: 180px;
    transition: 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    border-radius: 8px;
}

.error {
    color: red;
    font-size: 18px;
}
